*
!src/
!cli
!config
!demo/favicon.png

!custom.d.ts
!typings/styled-patch.d.ts
!tsconfig.json
!tsconfig.lib.json
!webpack.config.ts

!package.json
!package-lock.json
!yarn.lock
!.yarnrc.yml

!Makefile
